* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: #222222;
}
.contact-us {
	margin: 0 auto;
	width: 0;
	height: 0;
	background-image: url(../image/4.jpg);
	-webkit-animation: all 1.5s 8 es;
	overflow: hidden;
	padding: 30px 0 20px;
	color: #fff;
	position: relative;
	text-align: center;



}

.contact-us .overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	/*background-color: rgba(0, 0, 0, .8);*/
	background-color: black;

}

.contact {
	position: relative
}

.contact-us h2 {
	padding-bottom: 50px
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form input[type="city"] {
	width: 35%;
	margin-bottom: 2%;
	background-color: transparent;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	border: 1px solid #B53532;
	text-transform: capitalize;
	cursor: pointer;
	outline: 0;
	display: none

}

.contact form .one,
.contact form .three{
	margin-left: -200px;


}

.contact form .two,
.contact form .four {
	margin-right: -200px
}

.contact form .five {
	display: none
}

.contact form textarea {
	background-color: transparent;
	margin-top: 20px;
	width: 55%;
	padding: 10px;
	height: 200px;
	border-radius: 10px;
	border: 1px solid #B53532;
	text-transform: capitalize;
	color: #ddd;
	cursor: pointer;
	outline: 0;
}

.contact form .click {
	text-align: center;

}

.contact form .click .six {
	display: none;
	margin-left: -400px
}

.contact form .click .six {
	display: none;
	margin-right: -400px
}

.contact form button{
	background-color: transparent;
	margin-top: 20px;
	width: 15%;
	padding: 10px;
	height: 40px;
	border-radius:5px;
	cursor: pointer;
	outline: 0;
	border: 1px solid #B53532;
	color: #ddd
}

canvas {
	display: block;
}
